# Шаблон переменных окружения для 1C:УНФ OData и почтовых интеграций
# Скопируйте этот файл в .env и заполните боевыми значениями
ONEC_ODATA_USER=odata.writer
ONEC_ODATA_PASSWORD=your_odata_password
ONEC_ODATA_URL=http://artem.medianasoft.spb.ru/unf/odata/standard.odata/

IMAP_SERVER=mail.hostland.ru
IMAP_PORT=993
SMTP_SERVER=mail.hostland.ru
SMTP_PORT=465
IMAP_USER=sales@longwang.ru
IMAP_PASSWORD=your_email_password

BITRIX24_WEBHOOK_URL=https://b24-YOUR_PORTAL.bitrix24.ru/rest/USER_ID/WEBHOOK_TOKEN/
